body, html, p, ul, ol, li, dl, dd, dt, h1, h2, h3, h4, h5, h6, form, fieldset, td, th, caption, address, textarea, legend, svg {
	margin: 0;
	padding: 0;
}
a img, fieldset {
	border: 0;
}
textarea {
	resize:vertical;
}
html, body {
	background: #5d1012;
	font: 100.01% Verdana, Tahoma, sans-serif;
	color: #313131;
	height: 100%;
}
*html .c {
	height: 1%;
}
*+html .c {
	height: 1%;
}
.c:after, .clear {
	content:".";
	display:block;
	overflow:hidden;
	height: 0;
	clear:both;
	visibility:hidden;
}
a:link, a:visited {
	color: #3c52a4;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}

h1 {
padding-bottom:20px;
padding-top:30px;

}
h2 {
	font: bold 120% tahoma;
	margin: 0 0 5px 0;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
ul, ol {
	margin: 0 0 0 20px;
}
ul li, ol li {
	margin: 0 0 14px 0;
	line-height: 130%;
}
p {
	margin: 0 0 14px 0;
}
.container {
	font-size: 75%;
	width: 825px;
	background: #fff;
	margin: auto;
	position: relative;
// border:2px solid #7d1416;
}
.header {
	height: 90px;
	position:relative;
}
.header h1 {
	background: url(../i/logo.png) no-repeat;
	margin: 10px 0 0 20px;
	padding:0;
	text-indent:-999em;
	width:190px;
	height:84px;
	float:left;
}
.search {
	width:552px;
	height:84px;
	background: #bc1c22 url(../i/sbg.png) no-repeat;
	float:right;
}
.search-str {
	float:left;
	width: 490px;
	height: 26px;
}
.search-str input {
	position:relative;
	border:none;
	top:20px;
	left:120px;
	width: 350px;
	height:32px;
	padding:0 0 0 10px;
	font-size:130%;
	color:#616161;
}
.search input {
	float:left;
}
input.btn {
	margin:19px 0 0 0;
}
.main {
	padding: 25px 0 10px 20px;
}
.leftcol {
	float:left;
	width: 600px;
	margin: 0 55px 0 0;
}
.rightcol {
	border:1px solid #aeaeae;
	float:left;
	width: 130px;
	overflow:hidden;
	padding-right: 4px;
}
.download-link {
	background: url(../i/download-arrow.png) no-repeat;
	min-height:100px;
	width:100%;
	padding:0 0 0 120px;
}
.download-link h2 {
	color:#ed1c24;
	font:  150% tahoma;
}
.url {
	width:70%;
	font:  160% tahoma;
}
.ico {
	float:left;
	margin: 0 5px 0 0;
}
.banner {
	margin: 0 0 25px 120px;
	padding-top:20px;
}
.banner h2 a {
	color:#313131;
	font:  150% tahoma;
	text-decoration : none;
}
.banner h2 a:hover {
	text-decoration : underline;
}
.subscribe {
	background: #bc1c22 url(../i/subscribe-bg.png) no-repeat;
	height:84px;
	min-height:84px;
}
.subscribe-desc {
	float:left;
	padding:0 0 0 150px;
	position:relative;
	top:20px;
	width:220px;
	color:#fff;
}
.subscribe-form {
	float:left;
	position:relative;
}
.input {
	float:left;
	margin: 0 10px 0 0;
	position:relative;
	top:20px;
}
.subscribe-form input {
	float:left;
	border:none;
	height:32px;
	padding:6px 0 0 10px;
	font-size:130%;
	color:#616161;
}
.footer {
	height:26px;
	font-size:90%;
}
ul.menu {
	margin: 20px 0 0 28px;
}
ul.menu li {
	float:left;
	margin:0 20px 0 0;
	list-style:none;
}
ul.menu li a {
	color:#931b1e;
}
.format {
	font-size: 10px;
	display: block;
	padding-top: 7px;
}
.lib {
	padding-top: 15px;
}
.yantee {
	padding-top: 5px;
	font-size: 14px;
}
#alfavit {
	margin-bottom: 10px;
}
#alfavit table {
	border-collapse:collapse;
}
#alfavit td {
	padding: 7px;
	text-align: center;
	font-size: 17px;
}
#alfavit th {
	padding: 5px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
}
#second {
	font-size: 18px;
	text-align: left;
	background-color: #F7F7F7;
	color: #CACAFF;
	margin-top: 5px;
	margin-bottom: 5px;
}
#second a {
	font-family: Geneva, Arial, Helvetica, sans-serif;
}
#second a:visited {
	color: #000099;
}
.color1 div {
	background-color: #FFFFFF;
}
.color2 div {
	background-color: #F7F7F7;
}
th div {
	font-size: 22px;
}
b a {
	font-size: 22px;
	text-decoration: none;
	font-family: "Trebuchet MS";
	font-weight: normal;
}
#bukvi-alfavita a {
	font-size: 18px;
	text-decoration: none;
}
#author_books a {
	font-size: 14px;
}
#share42 {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #E9E9E9;
	border-radius: 4px 0 0 4px;
	padding: 6px;
	position: fixed;
	right: 6px;
	top: 100px;
	z-index: 1000;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	line-height: 1;
	-width:37px;
	-position:absolute;
	-padding: 6px 0px 0px 6px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#share42:hover {
	background: none repeat scroll 0 0 #F6F6F6;
	border: 1px solid #D4D4D4;
	box-shadow: 0 0 4px #666;
	opacity: 0.9;
	filter: alpha(opacity=90);
}
#share42 a {
	/* opacity: 0.5;
	filter: alpha(opacity=50);  */
	background-image: url('/img/share_v5.png');
	background-repeat: no-repeat;
	display: block;
	width: 24px;
	height: 24px;
	margin: 0 0 6px;
}
#share42:hover a {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#share42 a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
#share42 img {
	border: medium none !important;
	margin: 0 !important;
	padding: 0 !important;
}
#sb_facebook {
	background-position: 0 0;
}
#sb_livejournal {
	background-position: -24px 0;
}
#sb_mailru {
	background-position: -48px 0;
}
#sb_odnoklassniki {
	background-position: -72px 0;
}
#sb_twitter {
	background-position: -96px 0;
}
#sb_vkontakte {
	background-position: -120px 0;
}
#sb_google {
	background-position: -144px 0;
}
#sb_b17 {
	background-position: -168px 0;
}
#share42 .close {
	opacity: 0.3;
	position: absolute;
	bottom: -21px;
	right: 1px;
	font: 10px Tahoma;
	color: #acb7c3;
	cursor: pointer;
	padding-bottom: 5px;
}
#share42 .close:hover {
	opacity: 1;
}
#share42:hover .close {
	opacity: 1;
}
#share42 .share_plus {
	background: url('/img/share_v5.png') no-repeat -192px 0 transparent;
	height: 12px;
	cursor: pointer;
}
.rideo a {
	text-decoration: underline;
	display: block;
	margin-bottom: 7px;
}
#category {
	font-size: 16px;
}
#author {
	font-size: 16px;
}